<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<%- include('./partials/nav') %>
<body>
    <h1> All Fruits</h1>
<ul>
    <% allFruits.forEach((item)=>{  %>
        <a href="/fruits/<%= item._id%>">
       <li class="allFruitName"> <%= item.name%></li>
       <!-- <li class="allFruitName"> <%= item._id%></li> -->
    </a>
       <hr>
        
   <%})%>
</ul>    

</body>
</html>